<% @page_title = "Update Meeting" %>

<%= link_to("<< Back to List", meetings_path(:affiliate_id => @affiliate.id), :class => 'back-link') %>

<div class="meetings edit">
  <h2>Update Meeting</h2>

  <%= form_for(@meeting) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Meeting") %>
    </div>

  <% end %>
</div>
