<% @page_title = "Create Meeting" %>

<%= link_to("<< Back to List", meetings_path, :class => 'back-link') %>

<div class="meeetings new">
  <h2>Create Meeting</h2>

  <%= form_for(@meeting) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Create Meeting") %>
    </div>

  <% end %>
</div>
