<% @page_title = "Delete Affiliate" %>

<%= link_to("<< Back to List", affiliates_path, :class => 'back-link') %>

<div class="affiliates delete">
  <h2>Delete Affiliate</h2>

  <%= form_for(@affiliate, :url => affiliate, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this affiliate?</p>

    <p class="reference-name"><%= f.object.title %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Affiliate") %>
    </div>

  <% end %>
</div>

