<% @page_title = "Create Affiliate" %>

<%= link_to("<< Back to List", affiliates_path, :class => 'back-link') %>

<div class="affiliates new">
  <h2>Create Affiliate</h2>

  <%= form_for(@affiliate) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Create Affiliate") %>
    </div>

  <% end %>
</div>
